<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>G-&#36; Blog</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascripts/script.js"></script>
</head>
<body>

	<nav class="navbar">
		<ul>
			<a href="/"><li>HOME</li></a>
			<a href="/"><li>ABOUT</li></a>
			<li>GRAY'S BLOG</li>
			<a href="/"><li>FEATURED</li></a>
			<a href="/users/login"><li>LOG IN</li></a>
		</ul>
	</nav>

	<%= yield %>
	
</body>
</html>