<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>G-&#36; Blog</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script src="/javascripts/script.js"></script>
</head>
<body>
	<%= yield %>
</body>
</html>